.wrapper {
    min-width: 60px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 60px;
    border: none;
    outline: none;
    border-radius: 80px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}
.primary,
.active {
    background: var(--primary);
    color: #fff;
}
