@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,300&display=swap');

:root {
    --primary: #2e9afe;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

a {
    text-decoration: none;
    color: #2e9afe;
}

.slick-prev,
.slick-next {
    z-index: 1999;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    padding: 12px;
    font-size: 16px;
    background: #fff;
    opacity: 0.7;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    color: #ccc;
    box-shadow: 0 0 12px rgb(50 50 50 / 50%);

    &:hover {
        color: black;
    }
}

.slick-prev {
    left: -10px;
}
.slick-next {
    right: -10px;
}
